@import url("https://catppuccin.github.io/discord/dist/catppuccin-mocha-lavender.theme.css");

/* @import url("https://capnkitten.github.io/BetterDiscord/Themes/Translucence/css/source.css"); */
:root {
  --font-primary: 'Inter';
  --font-headline: 'Inter';
  --font-display: 'Space Grotesk';
  --font-code: 'Space Mono';
}

@media only screen and (max-width: 1080px) {
  :root {
    --channel-name-no-hover-margin: 15px;
    --channel-name-no-hover-opacity: 0;
    --siderbar-no-hover-width: 50px;
  }

  @media (max-width: 700px) {
    #app-mount .sidebar-1tnWFu {
      width: 0;
    }

    #app-mount .sidebar-1tnWFu>.privateChannels-oVe7HL,
    #app-mount .sidebar-1tnWFu>.container-1NXEtd {
      width: 0;
      margin-top: 0;
      height: calc(100% - 25px);
      padding-bottom: 10px;
      box-sizing: border-box;
      position: fixed;
      box-shadow: var(--elevation-high);
      border-radius: 0;
      overflow: hidden;
      z-index: 3;
      transition: width 0.2s ease;
    }

    #app-mount .wrapper-1_HaEi:hover+.base-2jDfDU>.content-1SgpWY>.sidebar-1tnWFu>.privateChannels-oVe7HL,
    #app-mount .wrapper-1_HaEi:hover+.base-2jDfDU>.content-1SgpWY>.sidebar-1tnWFu>.container-1NXEtd {
      width: var(--siderbar-no-hover-width, 60px);
    }

    .sidebar-1tnWFu>.privateChannels-oVe7HL {
      width: var(--siderbar-no-hover-width, 60px);
      transition: width 0.2s;
    }

    #app-mount .container-6sXIoE.withTimeline-824fT_,
    #app-mount .container-6sXIoE .bar-g2ZMIm {
      width: var(--guild-bar-width-700, 72px);
      transition: width 0.2s;
    }

    .container-6sXIoE:hover .gameIconWrapper-zXQ03M {
      margin-left: 0;
    }

    #app-mount .sidebar-1tnWFu>.privateChannels-oVe7HL:hover,
    #app-mount .sidebar-1tnWFu>.container-1NXEtd:hover,
    #app-mount .sidebar-1tnWFu .container-6sXIoE.withTimeline-824fT_:hover,
    #app-mount .sidebar-1tnWFu .container-6sXIoE:hover .bar-g2ZMIm {
      width: 240px;
    }
  }

  .sidebar-1tnWFu {
    position: fixed;
    top: 0;
    left: 64px;
    z-index: 999;

  }

  .theme-dark .container-1NXEtd {
    background: transparent !important;
  }

  .sidebar-1tnWFu:not(:hover) .pinnedChannelsHeaderContainer-89Gjv4 .headerAmount-_-7GrS {
    margin-left: -15px;
  }

  .sidebar-1tnWFu:not(:hover) .RestoreDirectMessages-style-button {
    margin-left: 10px;
  }



  .sidebar-1tnWFu * {
    transition: all 0.3 ease-in-out;
  }

  .sidebar-1tnWFu:not(:hover) .userAvatar-3Hwf1F.avatar-3FKimL.avatarSmall-3qwAkA {
    transform: translateX(-24px);
  }

  .sidebar-1tnWFu:not(:hover) .avatarWrapper-1B9FTW {
    transform: translateX(-6px);
  }

  .containerDefault-YUSmu3 .list-2x9Cl9.collapsed-1oYzUu {
    width: calc(100% - 26px);
  }

  .sidebar-1tnWFu:not(:hover) .users-2JoyGL {
    margin-top: -5px;
    margin-right: -22px;
  }

  .sidebar-1tnWFu:not(:hover) .total-1c5KCN {
    margin-top: 5px;
  }

  .sidebar-1tnWFu:not(:hover) .children-1MGS9G {
    margin-right: -12px;
  }

  .sidebar-1tnWFu:not(:hover) .users-2JoyGL,
  .sidebar-1tnWFu:not(:hover) .total-1c5KCN {
    background-color: transparent;
    font-size: 9px;
    display: block;
  }

  .sidebar-1tnWFu:not(:hover) .ti-indicator {
    transform: rotate(-90deg);
    margin-right: -10px;
  }

  .sidebar-1tnWFu:not(:hover) .container-1zzFcN .connection-3k9QeF .flex-2S1XBF {
    margin: 0;
  }

  .container-1zzFcN .connection-3k9QeF .subtext-2HDqJ7 {
    text-overflow: clip;
  }

  .voiceTimer {
    white-space: normal;
  }

  .sidebar-1tnWFu:not(:hover) .children-1MGS9G .voiceCounter {
    margin-right: 10px;
  }

  .content-2a4AW9>.wrapper-NhbLHG .name-28HaxV,
  .containerDefault-YUSmu3 .name-28HaxV {
    transform: translateX(var(--channel-name-no-hover-margin, 15px));
    opacity: var(--channel-name-no-hover-opacity, 0);
    transition: transform 0.2s, opacity 0.2s;
  }

  .sidebar-1tnWFu:hover .content-2a4AW9>.wrapper-NhbLHG .name-28HaxV,
  .sidebar-1tnWFu:hover .containerDefault-YUSmu3 .name-28HaxV {
    transform: translateX(0);
    opacity: 1;
  }

  .sidebar-1tnWFu:hover .container-1Bj0eq .containerDefault-YUSmu3 .name-28HaxV {
    margin-left: 27px;
  }

  .container-1Bj0eq .containerDefault-YUSmu3 .name-28HaxV {
    margin-left: 42px;
  }

  .channelNotice-tO6Tus {
    width: 200px;
  }

  .containerDefault-YUSmu3.selected-2TbFuo .userLimit-VbEkeM,
  .iconVisibility-vptxma:focus-within .userLimit-VbEkeM,
  .iconVisibility-vptxma:focus .userLimit-VbEkeM,
  .iconVisibility-vptxma:hover .userLimit-VbEkeM {
    display: block;
    margin-left: 5px;
  }

  .container-1zzFcN .actionButtons-2vEOUh .contents-3ca1mk {
    font-size: 0;
    transition: font-size 0.2s;
  }

  .sidebar-1tnWFu:hover .container-1zzFcN .actionButtons-2vEOUh .contents-3ca1mk {
    font-size: initial;
  }

  .containerDefault-YUSmu3:hover .activityRow-2wnr1d .content-2Lhv86 {
    border-bottom: 0;
  }

  .containerDefault-YUSmu3 .list-2x9Cl9 {
    padding-bottom: 0;
  }

  .activityRow-2wnr1d .content-2Lhv86 {
    width: 20px;
    margin: 0 8px;
    border-radius: 0;
    border-bottom: 0;
  }

  .activityRow-2wnr1d .activity-Rs0ViZ {
    margin-left: 15px;
    opacity: 0;
    transition: margin-left 0.2s, opacity 0.2s;
  }

  .sidebar-1tnWFu:hover .activityRow-2wnr1d .activity-Rs0ViZ {
    margin-left: 0;
    opacity: 1;
  }

  .containerDefault-YUSmu3:hover .activityRow-2wnr1d:first-child .content-2Lhv86 {
    border-top: 0;
  }

  .listDefault-1QEzz4 {
    margin-top: -1px;
  }

  .activityRow-2wnr1d {
    margin: 0;
    padding: 0;
  }

  .sidebar-1tnWFu:not(:hover) .containerDefault-YUSmu3 .UnreadCountBadges-badge-channelUnread {
    border-radius: 5px 0 0 0;
    padding: 0;
    bottom: 0;
  }

  .sidebar-1tnWFu:not(:hover) .containerDefault-YUSmu3 .mentionsBadge-3H1BKJ {
    top: 0;
    padding: 0;
  }

  .sidebar-1tnWFu:not(:hover) .containerDefault-YUSmu3 .mentionsBadge-3H1BKJ .numberBadge-37OJ3S {
    border-radius: 0 0 0 5px;
  }

  #app-mount .sidebar-1tnWFu:not(:hover) .containerDefault-YUSmu3 .numberBadge-37OJ3S {
    font-size: 10px;
    min-width: 12px;
    max-width: 20px;
    min-height: unset;
    height: 12px;
    padding: 0;
  }

  .sidebar-1tnWFu:not(:hover) .containerDefault-YUSmu3 .UnreadCountBadges-badge-channelUnread,
  .sidebar-1tnWFu:not(:hover) .containerDefault-YUSmu3 .mentionsBadge-3H1BKJ {
    position: absolute;
    right: 0;
  }

  .sidebar-1tnWFu:not(:hover) .containerDefault-3TQ5YN+.containerDefault-YUSmu3 .mentionsBadge-3H1BKJ .numberBadge-37OJ3S {
    border-radius: 0 5px 0 5px;
  }

  .sidebar-1tnWFu:not(:hover) [href='/channels/@me'] .numberBadge-37OJ3S {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 10px;
    height: 12px;
    width: 12px !important;
    min-height: unset;
    min-width: unset;
  }


  .membersGroup-2eiWxl {
    margin-left: 60px;
    background-color: var(--background-1);
    color: var(--interactive-normal);
  }

  .members-3WRCEx,
  .members-3WRCEx>div {
    background-color: var(--background-1);
  }

  .sidebar-1tnWFu {
    border: none;
    margin-top: 0;
  }

  .markup-eYLPri blockquote,
  .markup-eYLPri pre {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
  }

  .sidebar-1tnWFu:not(:hover) .voiceUserSummary-huJ8Md>.container-1jha_j>.icon-3akWb2~*,
  .activityRow-2wnr1d~.separator-2jb_gA,
  .fa-arrow-right:before,
  .sidebar-1tnWFu:not(:hover) .ownerIcon-255uKo,
  .sidebar-1tnWFu:not(:hover) .size24-9rrwDS .avatarContainer-gPrCzX,
  .sidebar-1tnWFu:not(:hover) .total-1c5KCN:after,
  .sidebar-1tnWFu:not(:hover) .role-2TIOKu,
  .sidebar-1tnWFu:not(:hover) .containerDefault-YUSmu3 .usernameFont-2oJxoI,
  .sidebar-1tnWFu:not(:hover) .click-to-chat-btn,
  .sidebar-1tnWFu:not(:hover) .containerDefault-YUSmu3 .icons-2mwuFp,
  .sidebar-1tnWFu:not(:hover) .info-88fTUI,
  .sidebar-1tnWFu:not(:hover) .actions-zk2vB_,
  .sidebar-1tnWFu:not(:hover) .containerDefault-YUSmu3.selected-2TbFuo .iconItem-1EjiK0,
  .sidebar-1tnWFu:not(:hover) .RestoreDirectMessages-style-divider,
  .sidebar-1tnWFu:not(:hover) .nameTag-sc-gpq.canCopy-IgTwyV,
  .sidebar-1tnWFu:not(:hover) .RestoreDirectMessages-style-button,
  .sidebar-1tnWFu:not(:hover) div.flex-2S1XBF.flex-3BkGQD.horizontal-112GEH.horizontal-1Piu5-.flex-3BkGQD.directionRow-2Iu2A9.justifyStart-2Mwniq.alignStretch-Uwowzr.noWrap-hBpHBz,
  .containerDefault-YUSmu3:not(:hover) .iconItem-1EjiK0,
  .containerDefault-YUSmu3:hover .activityRow-2wnr1d .separator-2jb_gA {
    display: none;
  }

  .membersWrap-3NUR2t.hiddenMembers-8kpYM0 {
    position: absolute;
    right: 0;
    background: #24273a99;
    backdrop-filter: blur(10px);
    transform: translateX(180px);
    transition: all 240ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .membersWrap-3NUR2t.hiddenMembers-8kpYM0:hover {
    transform: none;
  }

  .container-2o3qEW {
    position: absolute;
    right: 0;
    background: #24273a99;
    backdrop-filter: blur(10px);
    transform: translateX(180px);
    transition: all 240ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .container-2o3qEW:hover {
    transform: none;
  }

  .container-2o3qEW .membersWrap-3NUR2t.hiddenMembers-8kpYM0 {
    transform: none !important;
  }

  .voiceUser-3nRK-K,
  .channel-1Shao0 {
    margin-right: 4px;
  }

  .scroller-1ox3I2,
  .privateChannels-oVe7HL .scrollerBase-_bVAAt {
    padding-right: 0 !important;
  }

  .chat-2ZfjoI {
    margin-left: 40px;
  }

  @media (min-width: 700px) {
    .sidebar-1tnWFu {
      width: var(--siderbar-no-hover-width, 60px);
      transition: width 0.2s;
    }

    #app-mount .container-6sXIoE.withTimeline-824fT_,
    #app-mount .container-6sXIoE .bar-g2ZMIm {
      width: 60px;
      transition: width 0.2s;
    }

    .sidebar-1tnWFu:not(:hover) .barText-lmqc5O :first-child {
      margin-left: -5px;
    }

    .sidebar-1tnWFu:not(:hover) .barText-lmqc5O :last-child {
      margin-right: -5px;
    }

    .sidebar-1tnWFu:not(:hover) .container-6sXIoE.withTimeline-824fT_ .coverWrapper-YAplwJ {
      margin-left: 6px;
    }

    .container-1zzFcN .connection-3k9QeF .button-12Fmur,
    .actionButtons-2vEOUh .button-1EGGcP {
      width: 0;
      padding: 0;
      height: 0;
      min-width: 0;
      min-height: 0;
      transition: all 0.2s;
    }

    .container-1zzFcN .connection-3k9QeF .button-12Fmur svg {
      width: 100%;
      height: 100%;
    }

    .sidebar-1tnWFu:hover .actionButtons-2vEOUh .button-1EGGcP {
      width: auto;
      padding: 0;
      height: 32px;
      min-width: 60px;
      min-height: 32px;
    }

    .sidebar-1tnWFu:hover .container-1zzFcN .connection-3k9QeF .button-12Fmur {
      width: 32px;
      height: 32px;
    }

    #app-mount .sidebar-1tnWFu:hover,
    #app-mount .sidebar-1tnWFu:hover .container-6sXIoE.withTimeline-824fT_,
    #app-mount .sidebar-1tnWFu:hover .container-6sXIoE .bar-g2ZMIm {
      width: 240px;
    }

    #app-mount .sidebar-1tnWFu:hover .container-1Bj0eq {
      transform: translateX(28px);

    }

    #app-mount .sidebar-1tnWFu:hover .container-1Bj0eq .link-1_kTxV {
      transform: translateX(-28px);
    }

    .actionButtons-2vEOUh .button-1EGGcP .buttonIcon-2Zsrs2,
    .container-1zzFcN .connection-3k9QeF .button-12Fmur .contents-3ca1mk svg {
      width: 0;
      height: 0;
      transition: all 0.2s;
    }

    .sidebar-1tnWFu:hover .actionButtons-2vEOUh .button-1EGGcP .buttonIcon-2Zsrs2,
    .sidebar-1tnWFu:hover .container-1zzFcN .connection-3k9QeF .button-12Fmur .contents-3ca1mk svg {
      width: 20px;
      height: 20px;
    }
  }

  @media (max-width: 700px) {

    .panels-3wFtMD {
      display: none;
    }

    #app-mount .panels-3wFtMD .wrapper-3Hk9OB:not(:hover) .actionButtons-2vEOUh .button-f2h6uQ .flex-2S1XBF {
      font-size: 0;
    }


    #app-mount .panels-3wFtMD .wrapper-3Hk9OB {
      width: var(--guild-bar-width-700, 72px);
      max-width: unset;
      transition: width 0.2s;
    }

    #app-mount .panels-3wFtMD .wrapper-3Hk9OB:hover {
      width: 240px;
    }

    .panels-3wFtMD>.container-YkUktl>.flex-2S1XBF {
      border-radius: 18px;
      padding: 2px;
      background-color: var(--back-activity-panels, var(--background-floating));
      border: none;
      box-shadow: var(--elevation-high);
    }

    .panels-3wFtMD .wrapper-3Hk9OB:not(:hover) .actionButtons-2vEOUh .button-1EGGcP *,
    .panels-3wFtMD .wrapper-3Hk9OB:not(:hover) .actionButtons-2vEOUh .button-1EGGcP {
      width: 20px;
      height: 20px;
    }

    .panels-3wFtMD .wrapper-3Hk9OB:not(:hover) .container-1zzFcN .connection-3k9QeF .button-12Fmur,
    .panels-3wFtMD .wrapper-3Hk9OB:not(:hover) .actionButtons-2vEOUh .button-1EGGcP {
      width: 32px;
      height: 32px;
      padding: 0;
      min-width: unset;
    }

    .panels-3wFtMD .wrapper-3Hk9OB:not(:hover) .container-1zzFcN,
    .panels-3wFtMD .wrapper-3Hk9OB:not(:hover) .container-1zzFcN>.flex-2S1XBF>.flex-2S1XBF,
    .panels-3wFtMD .wrapper-3Hk9OB:not(:hover) .container-1zzFcN>.flex-2S1XBF {
      display: flex;
      flex-direction: column;
    }

    .panels-3wFtMD .wrapper-3Hk9OB:not(:hover) .actionButtons-2vEOUh {
      padding: 0;
      align-items: center;
      display: flex;
      flex-direction: column;
    }

    .panels-3wFtMD .wrapper-3Hk9OB:hover .voiceTimer {
      width: 160px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .panels-3wFtMD .wrapper-3Hk9OB:not(:hover) .actionButtons-2vEOUh .button-1EGGcP .buttonIcon-2Zsrs2 {
      width: 20px;
      height: 20px;
      transition: all 0.2s;
    }

    .panels-3wFtMD .wrapper-3Hk9OB:not(:hover) .actionButtons-2vEOUh .button-1EGGcP .contents-3ca1mk {
      padding: 6px;
    }

    .panels-3wFtMD .container-1zzFcN,
    .panels-3wFtMD .container-6sXIoE,
    .panels-3wFtMD .panel-2ZFCRb {
      background-color: var(--back-activity-panels, var(--background-floating));
      border-radius: 5px;
      border: none;
      box-shadow: var(--elevation-high);
    }

    #app-mount .panels-3wFtMD {
      position: fixed;
      bottom: 6px;
      left: 0;
      background: none;
      border: none;
      z-index: 100;
    }

    .container-YkUktl .noWrap-hBpHBz {
      display: none;
      opacity: 0;
      pointer-events: none;
    }

    .container-YkUktl:hover .noWrap-hBpHBz {
      display: flex;
      opacity: 1;
      pointer-events: all;
    }

    .guilds-2JjMmN {
      margin-bottom: calc(var(--guild-bar-width-700, 72px) - 1px);
    }
  }
}

span.username-h_Y3Us.desaturateUserColors-1O-G89.clickable-31pE3P {
  position: relative;
  overflow: visible;
  padding-inline: 4px;
}

span.username-h_Y3Us.desaturateUserColors-1O-G89.clickable-31pE3P::before {
  content: '';
  height: 100%;
  width: 100%;
  inset: 0;
  position: absolute;
  background: currentColor;
  z-index: -1;
  opacity: 0.3;
  border-radius: 3px;
}

#app-mount>div.appDevToolsWrapper-1QxdQf>div>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div.container-1eFtFS>nav>ul>div.scroller-3X7KbA.none-2-_0dP.scrollerBase-_bVAAt>div:nth-child(4)>div:nth-child(1)>div:nth-child(2)>div>div>div>div {
  position: relative;
}

#app-mount>div.appDevToolsWrapper-1QxdQf>div>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div.container-1eFtFS>nav>ul>div.scroller-3X7KbA.none-2-_0dP.scrollerBase-_bVAAt>div:nth-child(4)>div:nth-child(1)>div:nth-child(2)>div>div>div>div::after {
  z-index: -1;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  background: var(--text-positive) !important;
  border-radius: 100vmax;
  animation: out 2s infinite;
}

@keyframes out {
  to {
    opacity: 0;
    transform: scale(1.6);
  }
}


#app-mount>div.appDevToolsWrapper-1QxdQf>div>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div.container-1eFtFS>div>div>div.chat-2ZfjoI>div.content-1jQy2l>main>form>div>div>div>div.buttons-uaqb-5>button,
#app-mount>div.appDevToolsWrapper-1QxdQf>div>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div.container-1eFtFS>div>div>div.chat-2ZfjoI>div.content-1jQy2l>main>form>div>div>div>div.buttons-uaqb-5>div:nth-child(2),
#app-mount>div.appDevToolsWrapper-1QxdQf>div>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div.container-1eFtFS>div>div>div.chat-2ZfjoI>div.content-1jQy2l>main>form>div>div>div>div.buttons-uaqb-5>div:nth-child(3) {
  display: none !important;
}

.chatContent-3KubbW {
  padding-inline: 1em;
  background: var(--background-floating);
}

.role-2TIOKu {
  position: relative;
  overflow: hidden;
  border: none;
  padding: 0;
}

.roleCircle-3K9O3d::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 3000%;
  height: calc(100% + 6px);
  transform: translateY(-3px);
  z-index: 0;
  border-radius: 100px;
  background: inherit;
  opacity: 0.2;
  pointer-events: none;
}

.footer-1fjuF6 {
  border-top: none;
}

:root {
  --channeltextarea-rounding: 25px;
  --channeltextarea-background: var(--background-secondary-alt);
  --channeltextarea-border: var(--background-secondary);
  --channeltextarea-button-rounding: 50%;
  --channeltextarea-button-icon: var(--interactive-normal);
  --channeltextarea-button-background: var(--channeltextarea-background);
  --channeltextarea-button-hover: var(--background-tertiary);
  --channeltextarea-caret: var(--brand-experiment-400);
  --channeltextarea-sendbutton-icon: var(--brand-experiment-130);
  --channeltextarea-sendbutton-background: var(--brand-experiment);
  --channeltextarea-sendbutton-hover: var(--brand-experiment-460);
  --channeltextarea-sendbutton-active: var(--brand-experiment-530);
}

.base-2jDfDU .channelTextArea-1VQBuV .inner-NQg18Y {
  margin-right: -5px;
}

.base-2jDfDU .channelTextArea-1VQBuV .inner-NQg18Y .textArea-2CLwUE {
  margin-right: 5px;
  border-radius: var(--channeltextarea-rounding);
  background-color: var(--channeltextarea-background);
}

.base-2jDfDU .channelTextArea-1VQBuV .inner-NQg18Y .textArea-2CLwUE .fontSize16Padding-XoMpjI {
  left: 16px;
  padding-left: 0;
}

.base-2jDfDU .channelTextArea-1VQBuV .inner-NQg18Y .textArea-2CLwUE .slateTextArea-27tjG0 {
  margin-right: 44px;
  caret-color: var(--channeltextarea-caret);
  border-radius: var(--channeltextarea-rounding);
}

.base-2jDfDU .channelTextArea-1VQBuV .inner-NQg18Y .button-f2h6uQ {
  width: 44px;
  height: 44px;
  margin-right: 5px;
  margin-left: 0;
  padding: 0;
  border-radius: var(--channeltextarea-button-rounding);
  background-color: var(--channeltextarea-button-background);
  transition: background-color ease-in-out 125ms;
}

.base-2jDfDU .channelTextArea-1VQBuV .inner-NQg18Y .button-f2h6uQ:hover:not([disabled]),
.base-2jDfDU .channelTextArea-1VQBuV .inner-NQg18Y .button-f2h6uQ:active:not([disabled]) {
  background-color: var(--channeltextarea-button-hover);
}

.base-2jDfDU .channelTextArea-1VQBuV .inner-NQg18Y .button-f2h6uQ .sprite-2lxwfc {
  margin-bottom: 2px;
  background-color: var(--channeltextarea-button-icon);
  background-size: unset !important;
  background-position: unset !important;
  background-image: none !important;
  -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyIDJDNi40NzcgMiAyIDYuNDc3IDIgMTJDMiAxNy41MjIgNi40NzcgMjIgMTIgMjJDMTcuNTIzIDIyIDIyIDE3LjUyMiAyMiAxMkMyMiA2LjQ3NyAxNy41MjMgMiAxMiAyWk04IDZDOS4xMDQgNiAxMCA2Ljg5NiAxMCA4QzEwIDkuMTA1IDkuMTA0IDEwIDggMTBDNi44OTYgMTAgNiA5LjEwNSA2IDhDNiA2Ljg5NiA2Ljg5NiA2IDggNlpNMTggMTRDMTggMTYuNjE3IDE1LjE0IDE5IDEyIDE5QzguODYgMTkgNiAxNi42MTcgNiAxNFYxM0gxOFYxNFpNMTYgMTBDMTQuODk2IDEwIDE0IDkuMTA1IDE0IDhDMTQgNi44OTYgMTQuODk2IDYgMTYgNkMxNy4xMDQgNiAxOCA2Ljg5NiAxOCA4QzE4IDkuMTA1IDE3LjEwNCAxMCAxNiAxMFoiIGZpbGw9ImN1cnJlbnRDb2xvciIvPgo8L3N2Zz4=);
  mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyIDJDNi40NzcgMiAyIDYuNDc3IDIgMTJDMiAxNy41MjIgNi40NzcgMjIgMTIgMjJDMTcuNTIzIDIyIDIyIDE3LjUyMiAyMiAxMkMyMiA2LjQ3NyAxNy41MjMgMiAxMiAyWk04IDZDOS4xMDQgNiAxMCA2Ljg5NiAxMCA4QzEwIDkuMTA1IDkuMTA0IDEwIDggMTBDNi44OTYgMTAgNiA5LjEwNSA2IDhDNiA2Ljg5NiA2Ljg5NiA2IDggNlpNMTggMTRDMTggMTYuNjE3IDE1LjE0IDE5IDEyIDE5QzguODYgMTkgNiAxNi42MTcgNiAxNFYxM0gxOFYxNFpNMTYgMTBDMTQuODk2IDEwIDE0IDkuMTA1IDE0IDhDMTQgNi44OTYgMTQuODk2IDYgMTYgNkMxNy4xMDQgNiAxOCA2Ljg5NiAxOCA4QzE4IDkuMTA1IDE3LjEwNCAxMCAxNiAxMFoiIGZpbGw9ImN1cnJlbnRDb2xvciIvPgo8L3N2Zz4=);
  transform: none !important;
  filter: none !important;
}

.base-2jDfDU .channelTextArea-1VQBuV .inner-NQg18Y .button-f2h6uQ svg {
  color: var(--channeltextarea-button-icon);
}

.channelTextArea-220_Gz .buttonContainer-2lnNiN {
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0;
}

.channelTextArea-220_Gz .buttonContainer-2lnNiN .button-3BaQ4X {
  background-color: transparent !important;
}

.chatContent-3KubbW .jumpToPresentBar-1cEnH0 {
  display: block;
  left: calc(100% - 50px);
  width: 0;
  height: 0;
  bottom: 50px;
}

.chatContent-3KubbW .jumpToPresentBar-1cEnH0 .barButtonAlt-TQoCdZ {
  top: 0;
  width: 0;
  height: 0;
  font-size: 0;
}

.chatContent-3KubbW .jumpToPresentBar-1cEnH0 .barButtonAlt-TQoCdZ .barButtonIcon-bMvzp2 {
  z-index: 100;
  position: absolute;
  display: unset;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  margin-left: 0;
  padding: 9px;
  border-radius: 50px;
  color: var(--background-primary);
  background-color: var(--brand-experiment);
}

.chatContent-3KubbW .form-3gdLxP {
  margin: 0;
  padding: 0;
  border-top: 1px solid var(--channeltextarea-border);
}

.chatContent-3KubbW .form-3gdLxP .channelTextArea-1FufC0 {
  margin: 0;
  padding: 0;
}

.chatContent-3KubbW .form-3gdLxP .channelTextArea-1FufC0 .attachedBars-2BCP3l {
  border-radius: 0;
  background-color: var(--background-secondary-alt);
}

.chatContent-3KubbW .form-3gdLxP .channelTextArea-1FufC0 .channelAttachmentArea-HwpkuQ {
  margin-top: -11px;
  margin-bottom: 5px;
  margin-left: 0;
}

.chatContent-3KubbW .form-3gdLxP .channelTextArea-1FufC0 .channelAttachmentArea-HwpkuQ .wrapper-2vIMkT {
  background-color: var(--background-floating);
}

.chatContent-3KubbW .form-3gdLxP .channelTextArea-1FufC0 .scrollableContainer-15eg7h {
  padding: 15px;
  overflow-y: unset;
}

.chatContent-3KubbW .form-3gdLxP .channelTextArea-1FufC0 .scrollableContainer-15eg7h .inner-NQg18Y {
  padding-left: 0;
  width: 100%;
}

.chatContent-3KubbW .form-3gdLxP .channelTextArea-1FufC0 .scrollableContainer-15eg7h .inner-NQg18Y .buttons-uaqb-5 .emojiButton-3FRTuj {
  display: flex !important;
  order: -1;
  position: absolute;
  left: -50px;
}

.chatContent-3KubbW .form-3gdLxP .channelTextArea-1FufC0 .scrollableContainer-15eg7h .inner-NQg18Y .buttons-uaqb-5 .separator-3ng7S5 {
  margin: 0;
}

.chatContent-3KubbW .form-3gdLxP .channelTextArea-1FufC0 .scrollableContainer-15eg7h .inner-NQg18Y .buttons-uaqb-5 .separator-3ng7S5 .button-f2h6uQ .innerButton-1aF_E_ {
  margin-left: 2px;
  margin-right: 0;
  transition: background-color 200ms ease;
}

.chatContent-3KubbW .form-3gdLxP .channelTextArea-1FufC0 .scrollableContainer-15eg7h .inner-NQg18Y .buttons-uaqb-5 .separator-3ng7S5 .button-f2h6uQ .innerButton-1aF_E_ svg {
  opacity: 0.25;
  transition: all 200ms ease;
}

.chatContent-3KubbW .form-3gdLxP .channelTextArea-1FufC0 .scrollableContainer-15eg7h .inner-NQg18Y .buttons-uaqb-5 .separator-3ng7S5 .button-f2h6uQ:not([disabled]) {
  background-color: var(--channeltextarea-sendbutton-background);
}

.chatContent-3KubbW .form-3gdLxP .channelTextArea-1FufC0 .scrollableContainer-15eg7h .inner-NQg18Y .buttons-uaqb-5 .separator-3ng7S5 .button-f2h6uQ:not([disabled]):hover {
  background-color: var(--channeltextarea-sendbutton-hover);
}

.chatContent-3KubbW .form-3gdLxP .channelTextArea-1FufC0 .scrollableContainer-15eg7h .inner-NQg18Y .buttons-uaqb-5 .separator-3ng7S5 .button-f2h6uQ:not([disabled]):active {
  background-color: var(--channeltextarea-sendbutton-active);
}

.chatContent-3KubbW .form-3gdLxP .channelTextArea-1FufC0 .scrollableContainer-15eg7h .inner-NQg18Y .buttons-uaqb-5 .separator-3ng7S5 .button-f2h6uQ:not([disabled]) svg {
  opacity: 1;
  color: var(--channeltextarea-sendbutton-icon);
}

.chatContent-3KubbW .form-3gdLxP .channelTextArea-1FufC0 .scrollableContainer-15eg7h .inner-NQg18Y .characterCount-8yNPfb {
  right: unset;
  bottom: 0;
  left: 15px;
}

.chatContent-3KubbW .form-3gdLxP .typing-2J1mQU {
  top: -24px;
  right: 0;
  left: 0;
  padding-right: 5px;
  border-bottom: 1px solid var(--background-primary);
  background-color: var(--background-secondary-alt);
}

.chatContent-3KubbW .scrollerSpacer-3AqkT9 {
  height: 25px;
}

#app-mount .drawerSizingWrapper-1txdWG {
  right: 114px;
}

#app-mount .drawerSizingWrapper-1txdWG .navList-YSb9UB #emoji-picker-tab {
  order: 1;
  margin-left: 0;
}

#app-mount .drawerSizingWrapper-1txdWG .navList-YSb9UB #sticker-picker-tab {
  order: 2;
}

#app-mount .drawerSizingWrapper-1txdWG .navList-YSb9UB #gif-picker-tab {
  order: 3;
  margin-left: 8px;
}

#app-mount .autocomplete-3jLKbj {
  bottom: 100%;
  padding-left: 8px;
  border-radius: 0;
  box-shadow: none;
  background-color: var(--background-secondary-alt);
}

#app-mount .autocomplete-3NRXG8 {
  bottom: 100%;
  border-radius: 0;
  box-shadow: none;
  background-color: var(--background-secondary-alt);
}

#app-mount .autocomplete-3NRXG8 .categoryHeader-OpJ1Ly {
  background-color: var(--background-secondary-alt);
}

#app-mount .attachedBars-2BCP3l~.autocomplete-3jLKbj,
#app-mount .attachedBars-2BCP3l~.autocomplete-3NRXG8 {
  border-bottom: 1px solid var(--background-primary);
}



.avatar-6qzftW>.wrapper-1VLyxH[aria-label*='Do Not Disturb'] {
  box-shadow: 0 0 6px var(--status-danger);
}

.avatar-6qzftW>.wrapper-1VLyxH[aria-label*='Online'] {
  box-shadow: 0 0 6px var(--text-positive);
}

.avatar-6qzftW>.wrapper-1VLyxH[aria-label*='Idle'] {
  box-shadow: 0 0 6px var(--status-warning);
}

div.newMessagesBar-1hF-9G.barBase-3xxDXu {
  width: fit-content;
  margin-top: 1em;
  height: 2em;
  border-radius: 0.5em;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.base-2jDfDU .channelTextArea-220_Gz,
.base-2jDfDU .channelTextArea-1FufC0,
.base-2jDfDU .scrollableContainer-15eg7h,
.chatContent-3KubbW .form-3gdLxP .channelTextArea-1FufC0 .attachedBars-2BCP3l .replyBar-1oi75v,
.chatContent-3KubbW .form-3gdLxP .channelTextArea-1FufC0 .attachedBars-2BCP3l .threadSuggestionBar-3ExSyc,
.chatContent-3KubbW .form-3gdLxP .channelTextArea-1FufC0 .scrollableContainer-15eg7h .inner-NQg18Y .buttons-uaqb-5 .emojiButton-3FRTuj .button-f2h6uQ {
  background-color: transparent;
}

.base-2jDfDU .channelTextArea-1VQBuV .inner-NQg18Y .buttons-uaqb-5,
.chatContent-3KubbW .form-3gdLxP .channelTextArea-1FufC0 .scrollableContainer-15eg7h .inner-NQg18Y .buttons-uaqb-5 .separator-3ng7S5 .button-f2h6uQ {
  margin-right: 0;
}

#app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-2ZfjoI>div.content-1jQy2l>main>form>div.channelTextArea-1FufC0.channelTextArea-1VQBuV>div>div>div.buttons-uaqb-5>button,
#app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-2ZfjoI>div.content-1jQy2l>main>form>div>div>div>div.buttons-uaqb-5>div:nth-child(3),
#app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-2ZfjoI>div.content-1jQy2l>main>form>div.channelTextArea-1FufC0.channelTextArea-1VQBuV>div>div>div.buttons-uaqb-5>div:nth-child(4)>button>div {
  display: none;
}

.isUnread-3Lojb- {
  opacity: 0.5;
}

.typing-2J1mQU.base-3bcbY3 {
  background: transparent !important;
  width: min-content;
  backdrop-filter: blur(20px);
  border-radius: 20em;
  margin-left: 1em;
}

div.progressBar-1T6LYX.small-1bZsRQ.animating-2CraY5 {
  background: var(--brand-experiment) !important;
}

.messagelogger-red-text .messagelogger-deleted div {
  color: var(--status-danger) !important;
}

#app-mount>div.appAsidePanelWrapper-ev4hlp>div>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div.container-1eFtFS>div>div>div.sidebar-1tnWFu>nav>div.container-2Y4CWj>div>div:nth-child(3)>div>span>svg {
  transform: scale(0.8) translateY(-15%);
}

.repliedTextPreview-1bvxun {
  overflow: wrap;
}

/* Hide the Nitro tab */
#app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.sidebar-1tnWFu>nav>div.scroller-WSmht3.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG>ul>li:nth-child(4),
#app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.sidebar-1tnWFu>nav>div.scroller-WSmht3.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG>ul>li:nth-child(3) {
  display: none;
}

div[class="border-2Vy6FN speaking-7QZEkv"] {
  border: 3px solid var(--status-positive);
  border-radius: 12px;
}

div[class*="playButtonContainer-"] {
  background: var(--brand-experiment) !important;
}

svg[class*="playIcon-1cttj4"] path {
  fill: var(--background-primary);
}

button[class|="navButtonActive"],
button[class|="navButtonActive"]:hover {
  color: var(--background-primary);
}

.messagelogger-deleted div {
  color: var(--status-danger) !important;
  opacity: 0.9;
}

/* Shoutout to GracefulLion#9559 */
.role-2TIOKu {
  transform: translate(0);
  overflow: hidden;
  border: 0;

  --transparency: .3;
  border-radius: 5px;
}

.role-2TIOKu .roleRemoveIcon-387wKV {
  margin: 0;
  left: unset;
  transform: translate(50%, -50%);
}

.role-2TIOKu .roleRemoveButton-17oXnT {
  position: static;
}

.role-2TIOKu .roleCircle-3TFUOr:after {
  content: '';
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  opacity: var(--transparency);
}

.theme-dark .titleBar-1it3bQ {
  background-color: transparent;
}

.theme-dark .titleBar-1it3bQ.withFrame-2dL45i {
  height: 0px;
}

.theme-dark .titleBar-1it3bQ .wordmarkWindows-2dq6rw {
  color: var(--text-normal);
}

.theme-dark .titleBar-1it3bQ .wordmarkWindows-2dq6rw::after {
  content: "";
  font-family: "Inter";
  top: 9px;
  left: 16px;
  font-weight: bold;
  display: block;
  position: absolute;
  font-size: 12px;
  line-height: 16px;
}

.theme-dark .titleBar-1it3bQ .wordmarkWindows-2dq6rw svg {
  display: none;
}

.theme-dark .titleBar-1it3bQ .winButton-3UMjdg {
  width: 46px;
  height: 52px;
  background-color: var(--background-primary);
  color: var(--text-normal);
  transition: background-color 83ms linear;
}

.theme-dark .titleBar-1it3bQ .winButton-3UMjdg:hover {
  background-color: rgba(255, 255, 255, 0.0837);
  color: var(--text-normal);
}

.theme-dark .titleBar-1it3bQ .winButton-3UMjdg:active {
  background-color: rgba(255, 255, 255, 0.0326);
}

.theme-dark .titleBar-1it3bQ .winButton-3UMjdg.winButtonClose-3Q8ZH5:hover {
  background-color: var(--status-danger);
}

.theme-dark .titleBar-1it3bQ .winButton-3UMjdg.winButtonClose-3Q8ZH5:active {
  background-color: var(--status-danger);
}

html.theme-dark.app-focused .wordmarkWindows-2dq6rw,
html.theme-dark.app-focused .winButton-3UMjdg {
  color: var(--text-normal);
}

#app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-2ZfjoI>section {
  padding-right: 138px;
}


/*  */
/** My stuff */
/*  */

.chatContent-3KubbW {
  background: var(--background-secondary-alt);
}

html:not(.reduce-motion) div[class|="scrollableContainer"] ul[class|="channelAttachmentArea"] {
  animation-name: attachmentAnimation;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

@keyframes attachmentAnimation {
  from {
    height: 0;
  }

  to {
    height: 218px;
  }
}

html:not(.reduce-motion) section[class|="title"] div[class|="toolbar"] div[class|="search"] div[class|="searchBar"] {
  background: none !important;
  width: 24px;
  color: var(--color-text);
  transition: width 0.2s, padding 0.5s;
  padding: 0;
}

html:not(.reduce-motion) section[class|="title"] div[class|="toolbar"] div[class|="search"] div[class|="searchBar"] div[class|="iconContainer"] {
  width: 24px !important;
  height: 24px;
  cursor: pointer !important;
}

html:not(.reduce-motion) section[class|="title"] div[class|="toolbar"] div[class|="search"] div[class|="searchBar"],
html:not(.reduce-motion) section[class|="title"] div[class|="toolbar"] div[class|="search"] div[class|="searchBar"] svg {
  color: var(--color-text);
  width: 24px;
  height: 24px;
  padding: 0.5px;
}

html:not(.reduce-motion) section[class|="title"] div[class|="toolbar"] div[class*="open-"] div[class|="searchBar"] {
  width: 300px !important;
  padding: 0 10px !important;
}

html:not(.reduce-motion) section[class|="title"] div[class|="toolbar"] div[class*="open-"] div[class|="searchBar"] svg {
  color: var(--text-muted);
  transform: scale(0.8);
}

html:not(.reduce-motion) [class*="userPopoutOuter-"] [class*="activity-"] {
  --wave-width: 284px;
  padding: 16px;
  margin-top: 25px;
  z-index: 1;
}

#app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-2ZfjoI>div.content-1jQy2l>div.container-3H3gr7>div.chatContainer-2XIz4Y>main>form>div>div>div>div.buttons-uaqb-5>button,
#app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-2ZfjoI>div.content-1jQy2l>div.container-3H3gr7>div.chatContainer-2XIz4Y>main>form>div.channelTextArea-1FufC0.channelTextArea-1VQBuV>div>div>div.buttons-uaqb-5>div:nth-child(3),
#app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-2ZfjoI>div.content-1jQy2l>div.container-3H3gr7>div.chatContainer-2XIz4Y>main>form>div>div>div>div.buttons-uaqb-5>div:nth-child(4) {
  display: none;
}

.ready-3BZNWT {
  filter: brightness(0) invert(60%) sepia(43%) saturate(1285%) hue-rotate(200deg) brightness(101%) contrast(99%);
}

.container-3YcgdM {
  background: #1e1e2e88;
  backdrop-filter: blur(10px);
  transform: translateY(-80%);
  z-index: 2;
  overflow: hidden;
  transition: all 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 0 0 12px 12px;
}

.container-3YcgdM:hover {
  transform: translateY(0);
}
